/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
.nabidka {
    color: whitesmoke;
}


.hlavni-recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35.7vh;
    background: url("images/burger.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top: 1px solid whitesmoke;
    
}


.recept-meta{
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;

    
}

.kuchyne {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 10px;
    flex-basis: 50vw;
    text-align: left;


}

.komentare {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
    padding-top: 10px;
    flex-basis: 50vw;
    text-align: right;
    align-self: flex-start;
}

/* umístění textu uvnitř rámečku */

.hlavni-recept,
.recept {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recept-meta {
    display: flex;
    justify-content: space-between;
}

/* stylováni textu uvnitř fotočtverečku */

.recept-nazev {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 800;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.recept-meta {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.hlavni-recept .recept-nazev {
    font-size: 28px;
}

.recept .recept-nazev {
    font-size: 18px;
}




/*.hlavni-recept {
    display: flex;
    flex-wrap: wrap;
    height: 35.7vh;
    background: url("images/burger.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top: 1px solid whitesmoke;

    
}*/

.recept2 {
    height: 16vh;
    background: url("images/sushi.jpg");
    background-position: center center;
    background-size: cover;
    border-top: 1px solid whitesmoke;
}

.recept3 {
    height: 16vh;
    background: url("images/kure.jpg");
    background-position: center center;
    background-size: cover;
    border-top: 1px solid whitesmoke;
}

.recept4 {
    height: 16vh;
    background: url("images/rajcata.jpg");
    background-position: center center;
    background-size: cover;
    border-top: 1px solid whitesmoke;
}

.recept5 {
    height: 16vh;
    background: url("images/grilovani.jpg");
    background-position: center center;
    background-size: cover;
    border-top: 1px solid whitesmoke;
}
